html {

    box-sizing: border-box;
}

*, ::after, ::before {


    box-sizing: inherit;
}



header, section, footer, aside, nav, article {
    display: block;
}


.body {


    color: #666666;
    background-color: #f9f8f6;
    background-image: url("../src/rezystory11.png");
    background-position: inherit;
    font-family: "Lato", sans-serif;
    line-height: 1.4;
    margin: 0px;
}

.dark {

    color: #eee;
    background: #222;


}

.button {

    color: #9b9494;
    margin-left: 300px;
}

.main {
    padding: 20px;
    max-width: 940px;
    width: 100%;
    margin: 0px auto 0px auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #efefef;
}

.header {

    padding-right: 20px;
    margin: 0px auto 0px auto;
    max-width: 940px;
    width: 100%;
    height: 160px;
    border: 1px solid white;
    background-image: url("../src/rezystory2.png");
}

.header__description {


    max-width: 200px;
    font-size: 50px;
    color: #eee;
    margin: 50px 50px 50px 300px;
    padding: 0 auto 0 auto;
    text-shadow: 5px 5px 30px #383636;

}


footer {

    clear: both;
    margin: 0px auto 0px auto;
    max-width: 940px;
    width: 100%;
    font-size: 80%;
    border: solid 1px white;
    background-color: #E0e0e0;
    text-shadow: 1px 1px 4px #383636;

}