.table__captionTable {

    caption-side: top;
    text-align: auto;
    margin-top: 30px 30px;
    color: #3f3c3c;
    font-size: 18px;
    text-shadow: 1px 1px 4px #383636;
}

.table__cell {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}


.table__cellSilver {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #C0C0C0;
}


.table__cellGold {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFD700;
}

.table__cellBlack {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #000000;

}

.table__cellBrown {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #A52A2A;
}

.table__cellRed {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #FF0000;
}

.table__cellOrange {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFA500;
}

.table__cellYellow {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFF00;
}

.table__cellGreen {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #008000;
}

.table__cellBlue {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #0000FF;
}

.table__cellViolet {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #EE82EE;
}

.table__cellGrey {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #808080;
}

.table__cellWhite {

    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFFFF;
}

.table {
    float: left;
    border-collapse: collapse;
    width: 100%;
    max-width: 940;
    box-shadow: 2px 2px 8px #ccc;
}

.table__row:nth-child(even) {

    background-color: #eee;

}

.table__row:hover {

    background-color: #ddd;
}